:root {
  --header-height: 64px;
}

body {
  margin: 0;
  min-width: 320px;
}

a {
  transition: color 0.3s ease-in-out;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
